[Interface]
PrivateKey = {{ client_priv_key }}
Address = {{ wg_client_ip }}/{{ wg_cidr | network_prefixlen }}
DNS = {{ wg_server_ip }}, ~{{ dns_tld }}

[Peer]
PublicKey = {{ server_pub_key }}
Endpoint = {{ ansible_host }}:{{ wg_port }}
AllowedIPs = {{ wg_cidr }}, {{ minikube_ip }}/32
